<div id="post-div" class="animated zoomInUp 1s">
  <mat-card>

    <mat-card-header>
      <div mat-card-avatar class="example-header-image w3-center">
        <img src="{{data.userPhotoURL}}" class="animated zoomIn 2s example-header-image">
        {{data.userDisplayName}}
      </div>
      <mat-card-title style="font-size: 12pt;">{{data.title}}</mat-card-title>
      <mat-card-subtitle class="nop"><i class="fas fa-briefcase"></i> {{data.category}}</mat-card-subtitle>
      <mat-card-subtitle class="nop"><i class="fas fa-city"></i> {{data.city}}</mat-card-subtitle>
      <mat-card-subtitle class="nop"><i class="far fa-clock"></i> {{data.dateCreated.seconds * 1000 | date:'MM-dd-yyyy h:mm:ss a' | timeAgo}}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content class="w3-margin">
      <p>{{text}}</p>
      <div class="w3-center">
        <button (click)="readMore()" color="{{buttonShowHideColor}}" mat-mini-fab>
          <span class="w3-xlarge">
              <i class="fas fa-chevron-circle-{{buttonShowHideIcon}}"></i>
          </span>
        </button>
      </div>
    </mat-card-content>
      
    <mat-card-actions fxLayout="row" fxLayoutAlign="space-between center">

      <div>
        <button color="primary" mat-icon-button>
          <mat-icon>favorite_border</mat-icon>
        </button>
  
        <button color="primary" mat-icon-button>
          <mat-icon>chat_bubble_outline</mat-icon>
        </button>
      </div>
      
      <button color="primary" mat-icon-button>
        <mat-icon matBadge="4" (click)="bid()" matBadgeColor="accent">how_to_vote</mat-icon>
      </button>

      <div>
        <button (click)="wavesurfer()" color="primary" mat-icon-button>
          <mat-icon matBadge="{{audioCount}}" matBadgeColor="accent">record_voice_over</mat-icon>
        </button>
        
        <button (click)="galery()"  color="primary" mat-icon-button>
          <mat-icon matBadge="{{imgCount}}"  matBadgeColor="accent">photo_library</mat-icon>
        </button>
      </div>
     
    </mat-card-actions>

    

  </mat-card>
</div>
