#post-div {
    height: 100%;
    width: 100%;
    padding: 4%;
}

.example-header-image {
    border-radius: 50%;
    height: 70px;
    width: 70px;
    background-size: cover;
}

.nop {
    margin: 5px 0px;
}

.nom {
    margin: 0 0;
}

.nono {
    padding: 0 0;
    margin: 0 0;
}

.spacer {
    flex: 1 1 auto;
}