<div style="z-index:6;">

  
    <div (click)="close()" style="background: #e65100; cursor: pointer;" class="w3-center w3-round-xxlarge w3-padding" >
      <h3 style="color: #eee">
          <span style="color: #eee">
            <i class="fas fa-user"></i>
          </span> Mon Compte
      </h3>
    </div>
  
    <mat-list>
      
      <div>
        <mat-divider></mat-divider>
        <mat-list-item >
          <span style="color: #e65100">
            <i class="fas fa-user-edit"></i>
          </span>
          <button (click)="search()" mat-button class="w3-block" color="accent">Modifier mon compte</button>
        </mat-list-item>
      </div>

      <div>
        <mat-divider></mat-divider>
        <mat-list-item >
          <span style="color: #e65100">
            <i class="fas fa-list-ul"></i>
          </span>
          <button (click)="addPost()" mat-button class="w3-block" color="accent">Mes Posts</button>
        </mat-list-item>
      </div>

      <div>
        <mat-divider></mat-divider>
        <mat-list-item >
          <span style="color: #e65100">
            <i class="fas fa-vote-yea"></i>
          </span>
          <button (click)="addPost()" mat-button class="w3-block" color="accent">Mes Bids</button>
        </mat-list-item>
      </div>

      <div>
          <mat-divider></mat-divider>
          <mat-list-item >
            <span style="color: #e65100">
              <i class="fas fa-project-diagram"></i>
            </span>
            <button (click)="addPost()" mat-button class="w3-block" color="accent">Mes Projets</button>
          </mat-list-item>
        </div>
  
      <div class="w3-border w3-round-xxlarge w3-border-red">
        <mat-list-item >
          <span style="color: #c41212">
            <i class="fas fa-user-times"></i>
          </span>
          <button (click)="addPost()" mat-button class="w3-block" style="color: #c41212">Supprimer ce compte</button>
        </mat-list-item>
      </div>
  
      
    </mat-list>
  
  </div>
  