#mySidebar {
    height: 100%;
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.25s;
    background-color: #607d8b;
    color: #ddd;
}
  
.no-left-margin {
    margin-left: 0;
}

.no-left-padding {
padding-left: 0;
}

.open {
    max-width: 84px;
}

.close {
    width: 0;
}

.overlayOn {
    display: block;
}
.overlayOff {
    display: none;
}