<div style="z-index:6">

  <mat-list>

    <h4 class="center">Changer la Langue</h4>
    
    <div *ngFor="let lang of langages">
        <mat-divider></mat-divider>
        <mat-list-item >
            <span class="flag-icon flag-icon-{{lang.flag}} flags"></span>
            
            <button (click)="close()" *ngIf="lang.raised; else notRaised" mat-raised-button class="w3-block" color="primary">{{lang.name}}</button>
            <ng-template #notRaised>
                <button  mat-button class="w3-block" color="primary">{{lang.name}}</button>
            </ng-template>
          </mat-list-item>
    </div>
    
  </mat-list>

</div>
