<div>
    <h1 style="color: #d32f2f;" mat-dialog-title>
      <span style="color: #d32f2f; margin: 10px">
        <i class="fas fa-exclamation-triangle"></i>
      </span>
      Echec d'inscription
    </h1>
    <div id="content" mat-dialog-content>
      Votre email ou numéro de Téléphone sont déja existants. Veuillez ressayer.
    </div>
    <div fxLayout="row" fxLayoutAlign="space-evenly center" mat-dialog-actions>
      <button color="primary" mat-raised-button (click)="close()">Fermer</button>
    </div>
  </div>
  