<mat-toolbar  fxLayout="row" fxLayoutAlign="space-around center" class="w3-bottom animated slideInUp faster" color="primary">

  <button routerLink="wall" class="noshadow" color="primary" mat-mini-fab>
    <span class="w3-xlarge">
        <i class="fas fa-home"></i>
    </span>
  </button>
  
  <button class="noshadow" color="primary" mat-mini-fab>
      <span class="w3-xlarge">
        <i class="fas fa-user"></i>
      </span>
    </button>
  
  <button (click)="openMenu()" class="shadow" style="width: 45px; height:45px;" color="primary" mat-mini-fab>
    <img style="padding: 0 0; margin: 0 0;" src="assets/images/khdima-btn.png" width="35px" class="w3-image" />
  </button>
  
  <button class="noshadow" color="primary" mat-mini-fab>
    <span class="w3-xlarge">
      <i class="fas fa-comments" matBadge="1" matBadgeColor="warn"></i>
    </span>
  </button>
  
  <button class="noshadow" color="primary" mat-mini-fab>
    <span class="w3-xlarge">
      <i class="fas fa-bell" matBadge="2" matBadgeColor="warn"></i>
    </span>
  </button>
  
</mat-toolbar>