#overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.9);
    z-index: 5000;
    cursor: pointer;
}

.on {
    visibility: visible;
}
 .off {
    visibility: hidden;
 }

 .msg {
    color: #e65100;
    font-family: 'logo', 'Helvetica Neue', sans-serif;
 }

 .example-section {
   display: flex;
   align-content: center;
   align-items: center;
   height: 60px;
 }
 
 .example-margin {
   margin: 0 10px;
 }